:root{
--StrongCyan: hsl(171, 66%, 44%);
--LightBlue: hsl(233, 100%, 69%);
--DarkGrayishBlue: hsl(210, 10%, 33%);
--GrayishBlue: hsl(201, 11%, 66%);
--LightGray: #f5f6f8;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html{
    font-size: 62.5%;
} */

/* Defining Styles for Portions of the Webpage */

body{
    color: var(--GrayishBlue);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Bai Jamjuree", sans-serif;
}
.whole{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.sect{
    padding: 5rem 0;
}
.bg{
    background-image: url(images/bg-header-mobile.png);
    padding: 7rem 0 4rem 0;
}
.footer{
    padding: 3rem 0 2rem  0;
    width: 100%;
    color: var(--DarkGrayishBlue);
    background-color: var(--LightGray);
    margin-top: 10rem;
}
.sections{
    padding: 1rem 0;
}

.contact{
    display: inline-flex;
    flex-direction: row;
}
.clip{
    margin-bottom: 2rem;
}
.track{
    margin: 2rem 0;
}

/* Typography */

h1, h2, h3{
    color: var(--DarkGrayishBlue);
    font-weight: 600;
    margin: 1rem 0;
}
h1{
    font-size: 1.8rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.3rem;
}
p{
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 1.5rem 1rem 1.5rem;
}




/* Defining Styles For the Buttons */

.btn{
    padding: 1rem 4.5rem;
    color: white;
    border: none;
    border-radius: 30px;
    margin: .5rem;
    font-family: "Bai Jamjuree", sans-serif;
}
.blue{
    background-color: var(--LightBlue);
}
.cyan{
    background-color: var(--StrongCyan);
}




/* Defining Styles for the Image Elements */

.info_pic{
    width: 40px;
    align-self: center;
}
.logo{
    align-self: center;
}
.logo_big{
    width: 100px;
}
.logo_small{
    width: 50px;
}
.partners{
    width: 100px;
    align-self: center;
    margin: 2rem;
}
.socials{
    margin: 1rem;
    width: 24px;
    height: 24px;
}
.big{
    margin: 1rem 0;
    width: 300px;
    align-self: center;
}

/* Defining styles for lists */

ul{
    list-style: none;
}
li{
    margin: 1.5rem 0;
}




@media screen and (min-width: 1024px) {

    .bg{
        background-image: url(images/bg-header-desktop.png);
    }

    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.1rem;
    }
    h2 + p{
        padding: 0 10rem;
    }
 
    .btn{
        width: fit-content;
        padding: 1rem 3rem;
    }
    .buttons{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .sect{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .big{
        width: 500px;
    }


    .morewithpics{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .create{
        max-width: 320px;
    }

    .together{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        right: 150px;
    }
    .together div{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 0 0 0 4rem;
    }
    .together p{
        margin: 0;
        line-height: 2;
    }
    .together h3{
        margin: 1rem 0 .3rem 0;
    }
    .together .sections{
        padding: .2rem;
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "logo faq privacy install . socials";
        align-items: center;
        justify-items: center;
        padding: 0 2rem;
    }
    .footer ul{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer .socials{
        margin: 0 .5rem;
    }
    .article ul{
        display: flex;
        flex-direction: column;
    }
    .logo_small{
        grid-area: logo;
    }
    .article:nth-of-type(1){
        grid-area: faq;
    }
    .article:nth-of-type(2){
        grid-area: privacy;
    }
    .article:nth-of-type(3){
        grid-area: install;
    }
    .contact{
        grid-area: socials;
    }

}